<div class="">
    <div class="row editProfile col-12">
        <h4>Edit Profile</h4>
        <form action="" class="">
          <div class="form-group">
              <img src="http://via.placeholder.com/150x150" class="PersonPic" alt="avatar">
              <input type="file" class="form-control" placeholder="">
          </div>
          <div class="form-group">
              <input type="name" class="form-control" id="exampleInputName1" aria-describedby="">
          </div>
          <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" id="exampleInputOPW1" aria-describedby="">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" id="exampleInputOPW2" aria-describedby="" placeholder="New password">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" id="exampleInputNPW1" aria-describedby="" placeholder="Confirm New password">
          </div>

        </form>
        <a class="save" value="Submit" [routerLink]="['/home']">Save</a>
        <a class="cancel" value="Reset">Cancel</a>

    </div>
  </div>
  